<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.scandaloutraveltracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.ClaimListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.NewClaimActivity"
            android:label="@string/title_activity_view_claim"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.EditClaimActivity"
            android:label="@string/title_activity_edit_claim" 
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.EditExpenseActivity"
            android:label="@string/title_activity_view_expense" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.NewExpenseActivity"
            android:label="@string/title_activity_edit_expense" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.ExpenseListActivity"
            android:label="@string/title_activity_expense_list" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.AddExpenseActivity"
            android:label="@string/title_activity_add_expense" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.scandaloutraveltracker.ViewExpenseListActivity"
            android:label="@string/title_activity_view_expense_list" >
        </activity>
    </application>

</manifest>
